<!DOCTYPE html>

<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>Календарь</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/Calendar.css" rel="stylesheet" />
</head>
<body>

    <div class="modal">
        <svg class="modalClose" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/></svg>
        <p class="modalData"></p>
    </div>
    <div class="overlay"></div>
    

    <div class="calendar_header">
        <h1>Календарь</h1>
        <h2 id="monthYear"></h2>
    </div>

    <div class="calendar_buttons">
        <button id="prevBtn">&lt;</button>
        <button id="nextBtn">&gt;</button>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()      

        <div class="calendar">
            <table id="calendarTable" class="table table-bordered">
                <thead>
                    <tr>
                        <th>Пн</th>
                        <th>Вт</th>
                        <th>Ср</th>
                        <th>Чт</th>
                        <th>Пт</th>
                        <th>Сб</th>
                        <th>Вс</th>
                    </tr>
                </thead>

                <tbody id="calendarBody"></tbody>

            </table>
        </div>

            <button id="createEvent">Создать новое событие</button>

        </main>
    </div>




    <footer role="contentinfo" class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 -   <a href="https://github.com/Vaisero">Вайсеро Александр</a>
        </div>
    </footer>




    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/FillCalendar.js" type="text/javascript"></script>
    <script src="~/js/ModalWindowOnDays.js" type="text/javascript"></script>
    <script src="~/js/ShowCalendar.js" type="text/javascript"></script>
    <script src="~/js/ButtonsInModal.js" type="text/javascript"></script>
    <script src="~/js/CalendarMain.js" type="text/javascript"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>