
table {
    width: 100%;
}

.calendar {
    margin-top: 20px;
}

.calendar-header {
    text-align: center;
    margin-bottom: 10px;
}

#monthYear {
    display: inline-block;
    margin: 0;
}

button {
    text-align: center;
    padding: 5px 10px;
    margin: 0 5px;
    font-size: 18px;
}

