
#calendarBody td{
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: transparent;
    cursor: pointer;
}

#calendarBody td:hover {
    background-color: #e0e0e0;
}

table {
    width: 100%;
}

.calendar {
    margin-top: 20px;
}

.calendar_buttons {
    display: flex;
    justify-content: center;
}

#monthYear {
    display: inline-block;
    margin: 0;
}

button {
    width: 110px;
    height: 51px;
    font-size: 30px;
    margin: 3px;
}

.calendar_header {
    text-align: center;
    margin-bottom: 10px;
}

main {
    min-height: calc(82vh - 30px - 18px);
    width: 100%;
}

.current_day {
    font-weight: bold;
    color: red;
}
